<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jianglei.jllog">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".LogShowActivity"
            android:process=":Log"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".JlLogService"
            android:process=":Log" />

        <activity
            android:name=".NetDetailActivity"
            android:process=":Log"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".CrashDetailActivity"></activity>
    </application>

</manifest>